body {
     background: green;
     font-family:"Times New Roman", Times, serif;
     font-style: purple;
}
table, th, td {
     border: 1px solid black;
 }
.container{
            width: 50%;
            margin: 0 auto;
            }
.left {
                float:left;
                width:40%;
            
            }
            p:first-child{
                 color: red;
            }
.right {
                float:left;
                width:40%;
              
            }
li:nth-child(n){
                 color: blue;
            }
a:hover {
     color: orange;
}
.span1 {
     font-family: "Times New Roman", Times, serif;
}
.span2 {
     color:grey;
}
.span3 {
     font-size:28px;
}

     

