body {
    background: #FFFFF0;
    color: #000000;
    font-size: 12px;
}

table, tr, td, th {
  border-collapse: collapse;
}

.bacon-info {
    color: green;
}

.bacon-answer {
    color: #000000;
    font-family: "Times New Roman";
}
h1 {
    text-align: center;
}
