/*Brian's Code*/
.div1 {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
    background-color: #B7D1DA;
    width:1000px;
    height: 30%;
}
.about {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
        
}
.div2 {
    border-bottom:none;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    width:1000px;
    background-color: #B7D1DA;
    
}
.div2 h3 {
    text-align: center;
}
.div3 {
    border-bottom: none;
    border:1px solid black;
    width:1000px;
    background-color: #B7D1DA;
    margin-left: auto;
    margin-right: auto;
    height:;
}
}
.div3 ul{
    text-align: center;
    list-style-type: none;
}
.div3 table tr td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    

}
.div3 table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    

}
.div4 {
    border-bottom: none;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #B7D1DA;
    width:1000px;
    height: 80px;
    padding-top: 1px;
}
.div4 ul li{
    float:left;
    background-color: #E2E8DD;
    padding-left:92px;
    padding-right: 92px;
    list-style: none;
    display: inline;
    border: 1px solid black;
}
.footer {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    text-align: center;
    background-color: #95A3A4 ;
}
@media (max-width: 1000px) {
    .div1{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 869px){
@media (max-width: 720px){

