/*Brian's Code*/
.div1 {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
    background-color: #B7D1DA;
    width:1000px;
    height: 30%;
}
.about {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
        
}
.div2 {
    border-bottom:none;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    width:1000px;
    background-color: #B7D1DA;
    
}
.div2 h3 {
    text-align: center;
}
.div3 {
    border-bottom: none;
    border:1px solid black;
    width:1000px;
    background-color: #B7D1DA;
    margin-left: auto;
    margin-right: auto;
    height:;
}
}
.div3 ul{
    text-align: center;
    list-style-type: none;
}
.div3 table tr td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    

}
.div3 table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    

}
.div4 {
    border-bottom: none;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #B7D1DA;
    width:1000px;
    height: 80px;
    
}
.div4 ul li{
    height: 50px;
    float:left;
    background-color: #E2E8DD;
    padding-left:92px;
    padding-right: 92px;
    list-style: none;
    display: inline;
    border: 1px solid black;
}
.div4 li {
    padding-bottom: auto;
    padding-top: auto;
}
.footer {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    text-align: center;
    background-color: #95A3A4 ;
}
@media (max-width: 1000px) {
    .div1{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .div2{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .div4 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .div4 ul li {
        padding-left:60px;
        padding-right: 60px;
    }
    .div3{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 916px){

    .div4 ul li {
        margin-left: auto;
        margin-right: auto;
        padding-left:40px;
        padding-right: 40px;
    }
    
}
@media (max-width: 720px){
     .div4 ul li {
        margin-left: auto;
        margin-right: auto;
        padding-left:30px;
        padding-right: 30px;
    }
    
}
